FORMAT: 1A
HOST: https://api.gestaoclick.com

# API

### Introdução

A Integração via API é uma solução utilizada na integração de sistemas e na comunicação entre aplicações diferentes. Com esta tecnologia é possível que novas aplicações possam interagir com aquelas que já existem e que sistemas desenvolvidos em plataformas diferentes sejam compatíveis. Desta forma é possível integrar nosso sistema com diversos outros aplicativos, sendo assim, os dados integrados ficaram na nuvem e você terá a possibilidade de alterar, selecionar e excluir quando quiser.

### Autenticação
Para que você possa acessar a API, você deve possui uma conta e gerar o código de Access Token e o Secret Access Token da aplicação que você usará. Você deverá enviar estas informações nos parâmetros HEADER toda vez que acessar uma URL da API.
Exemplo de parametros de paginação

&pagina=10

&ordenacao=nome

&direcao=desc

### Limite de requisições
As chamadas à nossa API são limitadas a no máximo 3 requisições por segundo e no máximo 30.000 requisições por dia. Esse limite é controlado por empresa.

Caso seja ultrapassado o limite a requisição retornará o status 429 (too many requests) e a mensagem O limite de requisicoes foi atingido.

### Limites de registros
Todas as requisições GET são limitadas por página com no máximo 100 registros cada.

### Atribuição de usuário
Para clientes que possuem mais de um usuário cadastrado no sistema, deve se usar o campo usuario_id como parametro de atribuição. Caso este parametro não seja informado, a API irá priorizar o usuário master do sistema.
<br>
<i>Para conhecer os ids dos <b>usuários</b>, faça um GET em /api/usuarios/</i>

### Atribuição de loja
Para clientes que possuem mais de uma loja cadastrada no sistema, deve se usar o campo loja_id no tipo de envio GET ou POST como parametro de atribuição. Caso este parametro não seja informado, a API irá priorizar a loja matriz ou a loja que o usuário tenha permissão de acesso.
<br>
<i>Para conhecer os ids das <b>lojas</b>, faça um GET em /api/lojas/</i>

## Clientes [/clientes]

### Listar [GET]

<strong>Filtros</strong>
+ tipo_pessoa (PF = pessoa física, PJ = pessoa jurídica, ES = Estrangeiro)
+ nome (string)
+ cpf_cnpj (string)
+ telefone (string)
+ email (string)
+ situacao (1 = ativo, 0 = inativo)
+ cidade_id (int)
<br>
<i>Para conhecer os ids das <b>cidades</b>, faça um GET em /api/cidades/</i>
+ estado (string)
<br>
<i>Ao buscar por estado utilizar as siglas(MG,SP,RJ,RR..)</i>

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

        {
          "code": 200,
          "status": "success",
          "meta": {
                "total_registros": 1,
                "total_da_pagina": 1,
                "pagina_atual": 1,
                "limite_por_pagina": 20,
                "pagina_anterior": null,
                "url_anterior": null,
                "proxima_pagina": null,
                "proxima_url": null
        },
          "data": [
                {
                    "id": "8",
                    "tipo_pessoa": "PF",
                    "nome": "Juao Carlos",
                    "razao_social": null,
                    "cnpj": null,
                    "inscricao_estadual": null,
                    "inscricao_municipal": null,
                    "cpf": "792.727.480-54",
                    "rg": null,
                    "data_nascimento": "1988-03-30",
                    "telefone": "(11) 3522-8899",
                    "celular": "(96) 9 9194-9455",
                    "fax": null,
                    "email": "donis@itfast.net",
                    "ativo": "1",
                    "contatos": [
                        {
                            "contato": {
                                "tipo_id": "1307150",
                                "nome_tipo": "Email",
                                "nome": "Nome email",
                                "contato": "contato@contato.com",
                                "cargo": "Cargo",
                                "observacao": "Observação"
                            }
                        }
                    ],
                    "enderecos": [
                        {
                            "endereco": {
                                "cep": "31260-210",
                                "logradouro": "Rua Cassiano Campolina",
                                "numero": "10",
                                "complemento": null,
                                "bairro": "Dona Clara",
                                "cidade_id": "1411",
                                "nome_cidade": "Belo Horizonte",
                                "estado": "MG"
                            }
                        }
                    ]
                }
            ]
        }
### Cadastrar [POST]

<strong>Campos obrigatórios</strong>
+ tipo_pessoa (string) - PF, PJ ou ES
+ nome (string)

<strong>Atribuição de usuário</strong>
+ usuario_id
<br>
<i>Para conhecer os ids das <b>usuários</b>, faça um GET em /api/usuarios/</i>
<br>
Caso este parametro não seja informado, a API irá priorizar o usuário master do sistema.

<strong>Atribuição de loja</strong>
+ loja_id
<br>
<i>Para conhecer os ids das <b>lojas</b>, faça um GET em /api/lojas/</i>
<br>
Caso este parametro não seja informado, a API irá priorizar a loja matriz ou a loja que o usuário tenha permissão de acesso.

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

    + Body

            {
                "tipo_pessoa": "PF",
                "nome": "Otávio Juan Benício da Rosa",
                "razao_social": "",
                "cnpj": "",
                "inscricao_estadual": "",
                "inscricao_municipal": "",
                "cpf": "477.182.526-20",
                "rg": "49.660.357-7",
                "data_nascimento": "1945-05-16",
                "telefone": "(11) 2533-3532",
                "celular": "(96) 2641-9455",
                "fax": "",
                "email": "otaviojuanbeniciodarosa-99@agaxtur.com.br",
                "ativo": "1",
                "contatos": [
                    {
                        "contato": {
                            "nome": "Kevin Otávio Luan Cavalcanti",
                            "contato": "kevinotavioluancavalcanti-85@casabellavidros.com.br",
                            "cargo": "Gerente",
                            "observacao": "[-------]"
                        }
                    }
                ],
                "enderecos": [
                    {
                        "endereco": {
                            "cep": "31110-700",
                            "logradouro": "Rua Itararé",
                            "numero": "329",
                            "complemento": "",
                            "bairro": "Concórdia",
                            "cidade_id": "1411",
                            "nome_cidade": "Belo Horizonte",
                            "estado": "MG"
                        }
                    }
                ]
            }

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "9",
                    "tipo_pessoa": "PF",
                    "nome": "Otávio Juan Benício da Rosa",
                    "razao_social": null,
                    "cnpj": null,
                    "inscricao_estadual": "",
                    "inscricao_municipal": null,
                    "cpf": "477.182.526-20",
                    "rg": "49.660.357-7",
                    "data_nascimento": "1945-05-16",
                    "telefone": "(11) 2533-3532",
                    "celular": "(96) 2641-9455",
                    "fax": "",
                    "email": "otaviojuanbeniciodarosa-99@agaxtur.com.br",
                    "ativo": "1",
                    "contatos": [
                        {
                            "contato": {
                                "nome": "Kevin Otávio Luan Cavalcanti",
                                "contato": "kevinotavioluancavalcanti-85@casabellavidros.com.br",
                                "cargo": "Gerente",
                                "observacao": "[-------]"
                            }
                        }
                    ],
                    "enderecos": [
                        {
                            "endereco": {
                                "cep": "31110-700",
                                "logradouro": "Rua Itararé",
                                "numero": "329",
                                "complemento": "",
                                "bairro": "Concórdia",
                                "cidade_id": "1411",
                                "nome_cidade": "Belo Horizonte",
                                "estado": "MG"
                            }
                        }
                    ]
                }
            }
### Visualizar [GET /clientes/{id}]

Lista os dados de um cliente específico. Basta acrescentar o parametro com o id do cliente.

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "9",
                    "tipo_pessoa": "PF",
                    "nome": "Otávio Juan Benício da Rosa II",
                    "razao_social": null,
                    "cnpj": null,
                    "inscricao_estadual": "",
                    "inscricao_municipal": null,
                    "cpf": "477.182.526-20",
                    "rg": "49.660.357-7",
                    "data_nascimento": "1945-05-16",
                    "telefone": "(11) 2533-3532",
                    "celular": "(96) 2641-9455",
                    "fax": "",
                    "email": "otaviojuanbeniciodarosa-99@agaxtur.com.br",
                    "ativo": "1",
                    "contatos": [
                        {
                            "contato": {
                                "tipo_id": "1307150",
                                "nome_tipo": "Email",
                                "nome": "Nome email",
                                "contato": "contato@contato.com",
                                "cargo": "Cargo",
                                "observacao": "Observação"
                            }
                        }
                    ],
                    "enderecos": [
                        {
                            "endereco": {
                                "cep": "31110-700",
                                "logradouro": "Rua Itararé",
                                "numero": "329",
                                "complemento": "",
                                "bairro": "Concórdia",
                                "cidade_id": "1411",
                                "nome_cidade": "Belo Horizonte",
                                "estado": "MG"
                            }
                        }
                    ]
                }
            }
### Editar [PUT /clientes/{id}]

<strong>Campos obrigatórios</strong>
+ tipo_pessoa (string) - PF, PJ ou ES
+ nome (string)

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

    + Body

            {
                "tipo_pessoa": "PF",
                "nome": "Otávio Juan Benício da Rosa",
                "razao_social": "",
                "cnpj": "",
                "inscricao_estadual": "",
                "inscricao_municipal": "",
                "cpf": "477.182.526-20",
                "rg": "49.660.357-7",
                "data_nascimento": "1945-05-16",
                "telefone": "(11) 2533-3532",
                "celular": "(96) 2641-9455",
                "fax": "",
                "email": "otaviojuanbeniciodarosa-99@agaxtur.com.br",
                "ativo": "1",
                "contatos": [
                    {
                        "contato": {
                            "nome": "Kevin Otávio Luan Cavalcanti",
                            "contato": "kevinotavioluancavalcanti-85@casabellavidros.com.br",
                            "cargo": "Gerente",
                            "observacao": "[---[]----]"
                        }
                    }
                ],
                "enderecos": [
                    {
                        "endereco": {
                            "cep": "31110-700",
                            "logradouro": "Rua Itararé",
                            "numero": "329",
                            "complemento": "CASA 01",
                            "bairro": "Concórdia",
                            "cidade_id": "1411",
                            "nome_cidade": "Belo Horizonte",
                            "estado": "MG"
                        }
                    }
                ]
            }

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "9",
                    "tipo_pessoa": "PF",
                    "nome": "Otávio Juan Benício da Rosa II",
                    "razao_social": null,
                    "cnpj": null,
                    "inscricao_estadual": "",
                    "inscricao_municipal": null,
                    "cpf": "477.182.526-20",
                    "rg": "49.660.357-7",
                    "data_nascimento": null,
                    "telefone": "(11) 2533-3532",
                    "celular": "(96) 2641-9455",
                    "fax": "",
                    "email": "otaviojuanbeniciodarosa-99@agaxtur.com.br",
                    "ativo": "1",
                    "contatos": [
                        {
                            "contato": {
                                "nome": "Kevin Otávio Luan Cavalcanti",
                                "contato": "kevinotavioluancavalcanti-85@casabellavidros.com.br",
                                "cargo": "Gerente",
                                "observacao": "[---[]----]"
                            }
                        }
                    ],
                    "enderecos": [
                        {
                            "endereco": {
                                "cep": "31110-700",
                                "logradouro": "Rua Itararé",
                                "numero": "329",
                                "complemento": "CASA 01",
                                "bairro": "Concórdia",
                                "cidade_id": "1411",
                                "nome_cidade": "Belo Horizonte",
                                "estado": "MG"
                            }
                        }
                    ]
                }
            }

### Deletar [DELETE /clientes/{id}]

Exclui um cliente específico. Basta acrescentar o parametro com o id do cliente.

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "status": "success",
                "data": "Cliente excluido com sucesso"
            }

## Fornecedores [/fornecedores]

### Listar [GET]

<strong>Filtros</strong>
+ tipo_pessoa (PF = pessoa física, PJ = pessoa jurídica, ES = Estrangeiro)
+ nome (string)
+ cpf_cnpj (string)
+ telefone (string)
+ email (string)
+ situacao (1 = ativo, 0 = inativo)
+ cidade_id (int)
<br>
<i>Para conhecer os ids das <b>cidades</b>, faça um GET em /api/cidades/</i>
+ estado (string)
<br>
<i>Ao buscar por estado utilizar as siglas(MG,SP,RJ,RR..)</i>

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

        {
          "code": 200,
          "status": "success",
          "meta": {
                "total_registros": 2,
                "total_da_pagina": 2,
                "pagina_atual": 1,
                "limite_por_pagina": 20,
                "pagina_anterior": null,
                "url_anterior": null,
                "proxima_pagina": null,
                "proxima_url": null
            },
          "data": [
                {
                    "id": "3",
                    "tipo_pessoa": "PJ",
                    "nome": "Samuel e Bento Corretores Associados ME",
                    "razao_social": "Samuel e Bento Corretores Associados ME",
                    "cnpj": "36.058.120/0001-97",
                    "inscricao_estadual": "",
                    "inscricao_municipal": "",
                    "cpf": null,
                    "rg": null,
                    "data_nascimento": null,
                    "telefone": "(11) 3625-2222",
                    "celular": "",
                    "email": "bento@samuelebento.com",
                    "ativo": "1",
                    "contatos": [],
                    "enderecos": [
                        {
                            "endereco": {
                                "cep": "30310-480",
                                "logradouro": "Rua Grajaú",
                                "numero": "533",
                                "complemento": "",
                                "bairro": "Anchieta",
                                "cidade_id": "1411",
                                "nome_cidade": "Belo Horizonte",
                                "estado": "MG"
                            }
                        }
                    ]
                },
                {
                    "id": "4",
                    "tipo_pessoa": "PJ",
                    "nome": "Erick Jacquin Telas Ltda",
                    "razao_social": "Erick Jacquin Telas Ltda",
                    "cnpj": "43.937.086/0001-96",
                    "inscricao_estadual": "123951753",
                    "inscricao_municipal": "",
                    "cpf": null,
                    "rg": null,
                    "data_nascimento": null,
                    "telefone": "(11) 2533-3532",
                    "celular": "",
                    "email": "compras@erickelarissatelasltda.com.br",
                    "ativo": "1",
                    "contatos": [
                        {
                            "contato": {
                                "nome": "Luan Nicolas Costas",
                                "contato": "luan@teste.com.br",
                                "cargo": "Atendente",
                                "observacao": "Contato de Luan"
                            }
                        }
                    ],
                    "enderecos": [
                        {
                            "endereco": {
                                "cep": "31565-090",
                                "logradouro": "Rua Osvaldo Teixeira de Carvalho",
                                "numero": "50",
                                "complemento": "",
                                "bairro": "Santa Branca",
                                "cidade_id": "1411",
                                "nome_cidade": "Belo Horizonte",
                                "estado": "MG"
                            }
                        }
                    ]
                }
            ]
        }

### Cadastrar [POST]

<strong>Campos obrigatórios</strong>
+ tipo_pessoa (string) - PF, PJ ou ES
+ nome (string)

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

    + Body

            {
                "tipo_pessoa": "PJ",
                "nome": "Erick Jacquin Telas Ltda",
                "razao_social": "Erick Jacquin Telas Ltda",
                "cnpj": "43.937.086/0001-96",
                "inscricao_estadual": "123951753",
                "inscricao_municipal": "",
                "cpf": "",
                "rg": "",
                "data_nascimento": "",
                "telefone": "(11) 2533-3532",
                "celular": "",
                "fax": "",
                "email": "compras@erickelarissatelasltda.com.br",
                "ativo": "1",
                "contatos": [
                    {
                        "contato": {
                            "nome": "Luan Nicolas Costas",
                            "contato": "luan@teste.com.br",
                            "cargo": "Atendente",
                            "observacao": "Contato de Luan"
                        }
                    }
                ],
                "enderecos": [
                    {
                        "endereco": {
                            "cep": "31565-090",
                            "logradouro": "Rua Osvaldo Teixeira de Carvalho",
                            "numero": "50",
                            "complemento": "",
                            "bairro": "Santa Branca",
                            "nome_cidade": "Belo Horizonte",
                            "estado": "MG"
                        }
                    }
                ]
            }

+ Response 200 (application/json)

    + Body

                {
                  "code": 200,
                  "status": "success",
                  "data": {
                    "id": "4",
                    "tipo_pessoa": "PJ",
                    "nome": "Erick Jacquin Telas Ltda",
                    "razao_social": "Erick Jacquin Telas Ltda",
                    "cnpj": "43.937.086/0001-96",
                    "inscricao_estadual": "123951753",
                    "inscricao_municipal": "",
                    "cpf": null,
                    "rg": null,
                    "data_nascimento": null,
                    "telefone": "(11) 2533-3532",
                    "celular": "",
                    "email": "compras@erickelarissatelasltda.com.br",
                    "ativo": "1",
                    "contatos": [
                        {
                            "contato": {
                                "nome": "Luan Nicolas Costas",
                                "contato": "luan@teste.com.br",
                                "cargo": "Atendente",
                                "observacao": "Contato de Luan"
                            }
                        }
                    ],
                    "enderecos": [
                        {
                            "endereco": {
                                "cep": "31565-090",
                                "logradouro": "Rua Osvaldo Teixeira de Carvalho",
                                "numero": "50",
                                "complemento": "",
                                "bairro": "Santa Branca",
                                "cidade_id": "1411",
                                "nome_cidade": "Belo Horizonte",
                                "estado": "MG"
                            }
                        }
                    ]
                  }
                }

### Visualizar [GET /fornecedores/{id}]

Lista os dados de um fornecedor específico. Basta acrescentar o parametro com o id do fornecedor.

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

        {
          "code": 200,
          "status": "success",
          "data": {
                "id": "4",
                "tipo_pessoa": "PJ",
                "nome": "Erick Jacquin Telas Ltda",
                "razao_social": "Erick Jacquin Telas Ltda",
                "cnpj": "43.937.086/0001-96",
                "inscricao_estadual": "123951753",
                "inscricao_municipal": "",
                "cpf": null,
                "rg": null,
                "data_nascimento": null,
                "telefone": "(11) 2533-3532",
                "celular": "",
                "email": "compras@erickelarissatelasltda.com.br",
                "ativo": "1",
                "contatos": [
                    {
                        "contato": {
                            "nome": "Luan Nicolas Costas",
                            "contato": "luan@teste.com.br",
                            "cargo": "Atendente",
                            "observacao": "Contato de Luan"
                        }
                    }
                ],
                "enderecos": [
                    {
                        "endereco": {
                            "cep": "31565-090",
                            "logradouro": "Rua Osvaldo Teixeira de Carvalho",
                            "numero": "50",
                            "complemento": "",
                            "bairro": "Santa Branca",
                            "cidade_id": "1411",
                            "nome_cidade": "Belo Horizonte",
                            "estado": "MG"
                        }
                    }
                ]
            }
        }

### Editar [PUT /fornecedores/{id}]

<strong>Campos obrigatórios</strong>
+ tipo_pessoa (string) - PF, PJ ou ES
+ nome (string)

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

    + Body

            {
                  "tipo_pessoa": "PJ",
                  "nome": "Erick Jacquin Restaurante",
                  "razao_social": "Erick Jacquin Restaurante",
                  "cnpj": "43.937.086/0001-96",
                  "inscricao_estadual": "123951753",
                  "inscricao_municipal": "",
                  "cpf": "",
                  "rg": "",
                  "data_nascimento": "",
                  "telefone": "(11) 2533-3532",
                  "celular": "",
                  "fax": "",
                  "email": "compras@erickelarissatelasltda.com.br",
                  "ativo": "1",
                  "contatos": [
                    {
                      "contato": {
                        "nome": "Luan Nicolas Costas",
                        "contato": "luan@teste.com.br",
                        "cargo": "Atendente",
                        "observacao": "Contato de Luan"
                      }
                    }
                  ],
                  "enderecos": [
                    {
                      "endereco": {
                        "cep": "31565-090",
                        "logradouro": "Rua Osvaldo Teixeira de Carvalho",
                        "numero": "50",
                        "complemento": "",
                        "bairro": "Santa Branca",
                        "nome_cidade": "Belo Horizonte",
                        "estado": "MG"
                      }
                    }
                  ]
            }

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "4",
                    "tipo_pessoa": "PJ",
                    "nome": "Erick Jacquin Restaurante",
                    "razao_social": "Erick Jacquin Restaurante",
                    "cnpj": "43.937.086/0001-96",
                    "inscricao_estadual": "123951753",
                    "inscricao_municipal": "",
                    "cpf": null,
                    "rg": null,
                    "data_nascimento": null,
                    "telefone": "(11) 2533-3532",
                    "celular": "",
                    "email": "compras@erickelarissatelasltda.com.br",
                    "ativo": "1",
                    "contatos": [
                        {
                            "contato": {
                                "nome": "Luan Nicolas Costas",
                                "contato": "luan@teste.com.br",
                                "cargo": "Atendente",
                                "observacao": "Contato de Luan"
                            }
                        }
                    ],
                    "enderecos": [
                        {
                            "endereco": {
                                "cep": "31565-090",
                                "logradouro": "Rua Osvaldo Teixeira de Carvalho",
                                "numero": "50",
                                "complemento": "",
                                "bairro": "Santa Branca",
                                "cidade_id": "1411",
                                "nome_cidade": "Belo Horizonte",
                                "estado": "MG"
                            }
                        }
                    ]
                }
            }

### Deletar [DELETE /fornecedores/{id}]

Exclui um fornecedor específico. Basta acrescentar o parametro com o id do fornecedor.

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "status": "success",
                "data": "Fornecedor removido com sucesso!"
            }

## Funcionários [/funcionarios]

### Listar [GET]

<strong>Filtros</strong>
+ nome (string)

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

            {
                "code": 200,
                "status": "success",
                "meta": {
                    "total_registros": 5,
                    "total_da_pagina": 5,
                    "pagina_atual": 1,
                    "limite_por_pagina": 20,
                    "pagina_anterior": null,
                    "url_anterior": null,
                    "proxima_pagina": null,
                    "proxima_url": null
                },
                "data": [
                    {
                        "id": "1",
                        "nome": "Ronei Marcos"
                    },
                    {
                        "id": "2",
                        "nome": "Emerson Coelho"
                    },
                    {
                        "id": "3",
                        "nome": "Pedro Henrique"
                    },
                    {
                        "id": "4",
                        "nome": "Wesley Rosa"
                    },
                    {
                        "id": "5",
                        "nome": "Linus Torvalds"
                    }
                ]
            }

## Campos extras de cadastros [/atributos_cadastros]

### Listar [GET]
Lista campos extras de clientes, fornecedores e funcionários.

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

        {
            "code": 200,
            "status": "success",
            "meta": {
                "total_registros": 2,
                "total_paginas": 1,
                "total_registros_pagina": 2,
                "pagina_atual": 1,
                "limite_por_pagina": 20,
                "pagina_anterior": null,
                "url_anterior": null,
                "proxima_pagina": null,
                "proxima_url": null
            },
            "data": [
                {
                    "id": "1",
                    "nome": "Registro",
                    "tipo": "numeros",
                    "modificado_em": "2025-01-21 00:58:11",
                    "cadastrado_em": "2025-01-21 00:58:11"
                },
                {
                    "id": "2",
                    "nome": "Campo Aux",
                    "tipo": "texto_simples",
                    "modificado_em": "2025-01-21 00:58:36",
                    "cadastrado_em": "2025-01-21 00:58:36"
                }
            ]
        }
        
### Cadastrar [POST /atributos_cadastros]

<strong>Campos obrigatórios</strong>
+ nome (string)
+ tipo (string) Tipos permitidos: cpf, cnpj, check_list, data, numeros, texto_simples.
+ opcoes* (array) Obrigatório nos campos extras do tipo "check_list"
+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

    + Body

            {
                "nome": "Registro",
                "tipo": "numeros",
                "opcoes": []
            }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "1",
                    "nome": "Registro",
                    "tipo": "numeros",
                    "empresa_id": "75798",
                    "permitir_excluir": "1",
                    "usuario_id": "131036",
                    "nome_usuario": "Controle 1",
                    "cadastrado_em": "2025-04-14 17:47:04",
                    "modificado_em": "2025-04-14 17:47:04",
                    "opcoes": []
                }
            }
            
### Editar [PUT /atributos_cadastros/{id}]

<strong>Campos obrigatórios</strong>
+ nome (string)
+ tipo (string) Tipos permitidos: cpf, cnpj, check_list, data, numeros, texto_simples.
+ opcoes* (array) Obrigatório nos campos extras do tipo "check_list"
+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

    + Body

            {
                "nome": "Documentos",
                "tipo": "check_list",
                "opcoes": [
                    {"nome":  "RG"},
                    {"nome":  "CNH"}
                ]
            }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "1",
                    "nome": "Documentos",
                    "tipo": "check_list",
                    "empresa_id": "75798",
                    "permitir_excluir": "1",
                    "usuario_id": "1",
                    "nome_usuario": "Usuario",
                    "cadastrado_em": "2025-04-15 17:47:04",
                    "modificado_em": "2025-04-15 17:47:04",
                    "opcoes": [
                        {
                            "id": "1",
                            "atributo_id": "5",
                            "nome": "RG"
                        },
                        {
                            "id": "2",
                            "atributo_id": "5",
                            "nome": "CNH"
                        }
                    ]
                }
            }

### Visualizar [GET /atributos_cadastros/{id}]
Visualiza um campo extra específico. Basta acrescentar o parâmetro com o id do campo extra.

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "1",
                    "tipo": "numeros",
                    "empresa_id": "75798",
                    "permitir_excluir": "1",
                    "nome": "Documento",
                    "usuario_id": "1",
                    "nome_usuario": "Usuario",
                    "cadastrado_em": "2025-04-15 17:47:04",
                    "modificado_em": "2025-04-15 17:47:04",
                    "opcoes": []
                }
            }
            
### Deletar [DELETE /atributos_cadastros/{id}]
Exclui um campo extra específico. Basta acrescentar o parâmetro com o id do campo extra.

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "status": "success",
                "data": "Campo extra removido com sucesso!"
            }

## Transportadoras [/transportadoras]

### Listar [GET]

<strong>Filtros</strong>
+ tipo_pessoa (PF = pessoa física, PJ = pessoa jurídica)
+ nome (string)
+ telefone (string)
+ email (string)

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

            {
                "code": 200,
                "status": "success",
                "meta": {
                    "total_registros": 2,
                    "total_da_pagina": 2,
                    "pagina_atual": 1,
                    "limite_por_pagina": 20,
                    "pagina_anterior": null,
                    "url_anterior": null,
                    "proxima_pagina": null,
                    "proxima_url": null
                },
                "data": [
                    {
                        "id": "6",
                        "tipo_pessoa": "PJ",
                        "nome": "Edson e Carlos Eduardo Limpeza",
                        "razao_social": "Edson e Carlos Eduardo Limpeza ME",
                        "cnpj": "22.359.529/0001-39",
                        "inscricao_estadual": "472.736.113.437",
                        "inscricao_municipal": "987415531",
                        "cpf": null,
                        "rg": null,
                        "data_nascimento": null,
                        "telefone": "(31) 2707-9510",
                        "celular": "(31) 98874-9510",
                        "email": "producao@edsonecarloseduardolimpezame.com.br",
                        "observacoes": "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
                        "ativo": "1",
                        "contatos": [
                            {
                                "contato": {
                                    "nome": "Lavínia Analu Lorena Moura",
                                    "contato": "lavinia@limpeza.com.br",
                                    "cargo": "Diretor",
                                    "observacao": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                                }
                            },
                            {
                                "contato": {
                                    "nome": "Agatha Bruna",
                                    "contato": "Agatha@limpeza.com.br",
                                    "cargo": "Diretor II",
                                    "observacao": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                                }
                            }
                        ],
                        "enderecos": [
                            {
                                "endereco": {
                                    "cep": "31748-040",
                                    "logradouro": "Rua Aldemiro Fernandes Torres",
                                    "numero": "509",
                                    "complemento": "",
                                    "bairro": "Jaqueline",
                                    "cidade_id": "1411",
                                    "nome_cidade": "Belo Horizonte",
                                    "estado": "MG"
                                }
                            }
                        ]
                    },
                    {
                        "id": "5",
                        "tipo_pessoa": "PJ",
                        "nome": "Rapid Transportadora",
                        "razao_social": "Rapid Transportadora LTDA",
                        "cnpj": "20.215.683/0001-01",
                        "inscricao_estadual": "299154930974",
                        "inscricao_municipal": "859471123",
                        "cpf": null,
                        "rg": null,
                        "data_nascimento": null,
                        "telefone": "(31) 2533-3532",
                        "celular": "",
                        "email": "contato@rapidtransportadora.com.br",
                        "observacoes": "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
                        "ativo": "1",
                        "contatos": [
                            {
                                "contato": {
                                    "nome": "Alan Mathison Turing",
                                    "contato": "alan@rapid.com.br",
                                    "cargo": "Diretor",
                                    "observacao": "Criador da máquina de Turing"
                                }
                            },
                            {
                                "contato": {
                                    "nome": "Dennis Ritchie",
                                    "contato": "debbus@rapid.com.br",
                                    "cargo": "Diretor II",
                                    "observacao": "Criador do C  e do Unix."
                                }
                            }
                        ],
                        "enderecos": [
                            {
                                "endereco": {
                                    "cep": "31010-202",
                                    "logradouro": "Rua Oitocentos e Quarenta e Um",
                                    "numero": "628",
                                    "complemento": "",
                                    "bairro": "Santa Tereza",
                                    "cidade_id": "1411",
                                    "nome_cidade": "Belo Horizonte",
                                    "estado": "MG"
                                }
                            }
                        ]
                    },
                ]
            }

### Cadastrar [POST]

<strong>Campos obrigatórios</strong>
+ tipo_pessoa (string) - PF, PJ
+ nome (string)

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

    + Body

            {
              "tipo_pessoa": "PJ",
              "nome": "Edson e Carlos Eduardo Limpeza",
              "razao_social": "Edson e Carlos Eduardo Limpeza ME",
              "cnpj": "22.359.529/0001-39",
              "inscricao_estadual": "472.736.113.437",
              "inscricao_municipal": "987415531",
              "cpf": "",
              "rg": "",
              "data_nascimento": "",
              "telefone": "(31) 2707-9510",
              "celular": "(31) 98874-9510",
              "email": "producao@edsonecarloseduardolimpezame.com.br",
              "observacoes": " Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
              "ativo": "1",
              "contatos": [
                {
                  "contato": {
                    "nome": "Lavínia Analu Lorena Moura",
                    "contato": "lavinia@limpeza.com.br",
                    "cargo": "Diretor",
                    "observacao": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  }
                },
                {
                  "contato": {
                    "nome": "Agatha Bruna",
                    "contato": "Agatha@limpeza.com.br",
                    "cargo": "Diretor II",
                    "observacao": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  }
                }
              ],
              "enderecos": [
                {
                  "endereco": {
                    "cep": "31748-040",
                    "logradouro": "Rua Aldemiro Fernandes Torres",
                    "numero": "509",
                    "complemento": "",
                    "bairro": "Jaqueline",
                    "nome_cidade": "Belo Horizonte",
                    "estado": "MG"
                  }
                }
              ]
            }

+ Response 200 (application/json)

    + Body

                {
                  "code": 200,
                  "status": "success",
                  "data": {
                    "id": "6",
                    "tipo_pessoa": "PJ",
                    "nome": "Edson e Carlos Eduardo Limpeza",
                    "razao_social": "Edson e Carlos Eduardo Limpeza ME",
                    "cnpj": "22.359.529/0001-39",
                    "inscricao_estadual": "472.736.113.437",
                    "inscricao_municipal": "987415531",
                    "cpf": null,
                    "rg": null,
                    "data_nascimento": null,
                    "telefone": "(31) 2707-9510",
                    "celular": "(31) 9 8874-95",
                    "email": "producao@edsonecarloseduardolimpezame.com.br",
                    "observacoes": "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
                    "ativo": "1",
                    "contatos": [
                        {
                            "contato": {
                                "nome": "Lavínia Analu Lorena Moura",
                                "contato": "lavinia@limpeza.com.br",
                                "cargo": "Diretor",
                                "observacao": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                            }
                        },
                        {
                            "contato": {
                                "nome": "Agatha Bruna",
                                "contato": "Agatha@limpeza.com.br",
                                "cargo": "Diretor II",
                                "observacao": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                            }
                        }
                    ],
                    "enderecos": [
                        {
                            "endereco": {
                                "cep": "31748-040",
                                "logradouro": "Rua Aldemiro Fernandes Torres",
                                "numero": "509",
                                "complemento": "",
                                "bairro": "Jaqueline",
                                "cidade_id": "1411",
                                "nome_cidade": "Belo Horizonte",
                                "estado": "MG"
                            }
                        }
                    ]
                  }
                }

### Visualizar [GET /transportadoras/{id}]

Lista os dados de uma transportadora específica. Basta acrescentar o parametro com o id da transportadora.

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "6",
                    "tipo_pessoa": "PJ",
                    "nome": "Edson e Carlos Eduardo Limpeza",
                    "razao_social": "Edson e Carlos Eduardo Limpeza ME",
                    "cnpj": "22.359.529/0001-39",
                    "inscricao_estadual": "472.736.113.437",
                    "inscricao_municipal": "987415531",
                    "cpf": null,
                    "rg": null,
                    "data_nascimento": null,
                    "telefone": "(31) 2707-9510",
                    "celular": "(31) 9 8874-95",
                    "email": "producao@edsonecarloseduardolimpezame.com.br",
                    "observacoes": "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
                    "ativo": "1",
                    "contatos": [
                        {
                            "contato": {
                                "nome": "Lavínia Analu Lorena Moura",
                                "contato": "lavinia@limpeza.com.br",
                                "cargo": "Diretor",
                                "observacao": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                            }
                        },
                        {
                            "contato": {
                                "nome": "Agatha Bruna",
                                "contato": "Agatha@limpeza.com.br",
                                "cargo": "Diretor II",
                                "observacao": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                            }
                        }
                    ],
                    "enderecos": [
                        {
                            "endereco": {
                                "cep": "31748-040",
                                "logradouro": "Rua Aldemiro Fernandes Torres",
                                "numero": "509",
                                "complemento": "",
                                "bairro": "Jaqueline",
                                "cidade_id": "1411",
                                "nome_cidade": "Belo Horizonte",
                                "estado": "MG"
                            }
                        }
                    ]
                }
            }

### Editar [PUT /transportadoras/{id}]

<strong>Campos obrigatórios</strong>
+ tipo_pessoa (string) - PF, PJ
+ nome (string)

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

    + Body

            {
              "tipo_pessoa": "PJ",
              "nome": "Edson e Hudson Limpeza",
              "razao_social": "Edson e Hudson Limpeza ME",
              "cnpj": "22.359.529/0001-39",
              "inscricao_estadual": "472.736.113.437",
              "inscricao_municipal": "987415531",
              "cpf": "",
              "rg": "",
              "data_nascimento": "",
              "telefone": "(31) 2707-9510",
              "celular": "(31) 9 8874-9510",
              "email": "producao@edsonecarloseduardolimpezame.com.br",
              "observacoes": " Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
              "ativo": "1",
              "contatos": [
                {
                  "contato": {
                    "nome": "Lavínia Analu Lorena Moura",
                    "contato": "lavinia@limpeza.com.br",
                    "cargo": "Diretor",
                    "observacao": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  }
                },
                {
                  "contato": {
                    "nome": "Agatha Bruna",
                    "contato": "Agatha@limpeza.com.br",
                    "cargo": "Diretor II",
                    "observacao": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  }
                }
              ],
              "enderecos": [
                {
                  "endereco": {
                    "cep": "31748-040",
                    "logradouro": "Rua Aldemiro Fernandes Torres",
                    "numero": "509",
                    "complemento": "",
                    "bairro": "Jaqueline",
                    "nome_cidade": "Belo Horizonte",
                    "estado": "MG"
                  }
                }
              ]
            }

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "6",
                    "tipo_pessoa": "PJ",
                    "nome": "Edson e Hudson Limpeza",
                    "razao_social": "Edson e Hudson Limpeza ME",
                    "cnpj": "22.359.529/0001-39",
                    "inscricao_estadual": "472.736.113.437",
                    "inscricao_municipal": "987415531",
                    "cpf": null,
                    "rg": null,
                    "data_nascimento": null,
                    "telefone": "(31) 2707-9510",
                    "celular": "(31) 9 8874-95",
                    "email": "producao@edsonecarloseduardolimpezame.com.br",
                    "observacoes": "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
                    "ativo": "1",
                    "contatos": [
                        {
                            "contato": {
                                "nome": "Lavínia Analu Lorena Moura",
                                "contato": "lavinia@limpeza.com.br",
                                "cargo": "Diretor",
                                "observacao": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                            }
                        },
                        {
                            "contato": {
                                "nome": "Agatha Bruna",
                                "contato": "Agatha@limpeza.com.br",
                                "cargo": "Diretor II",
                                "observacao": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                            }
                        }
                    ],
                    "enderecos": [
                        {
                            "endereco": {
                                "cep": "31748-040",
                                "logradouro": "Rua Aldemiro Fernandes Torres",
                                "numero": "509",
                                "complemento": "",
                                "bairro": "Jaqueline",
                                "cidade_id": "1411",
                                "nome_cidade": "Belo Horizonte",
                                "estado": "MG"
                            }
                        }
                    ]
                }
            }

### Deletar [DELETE /transportadoras/{id}]

Exclui uma transportadora específica. Basta acrescentar o parametro com o id da transportadora.

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "status": "success",
                "data": "Transportadora removida com sucesso!"
            }

## Tipos de contatos [/tipos_contatos]

### Listar [GET]

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

            {
                "code": 200,
                "status": "success",
                "meta": {
                    "total_registros": 3,
                    "total_da_pagina": 3,
                    "pagina_atual": 1,
                    "limite_por_pagina": 20,
                    "pagina_anterior": null,
                    "url_anterior": null,
                    "proxima_pagina": null,
                    "proxima_url": null
                },
                "data": [
                    {
                        "id": "109",
                        "nome": "E-mail"
                    },
                    {
                        "id": "110",
                        "nome": "Facebook"
                    },
                    {
                        "id": "111",
                        "nome": "Skype"
                    }
                ]
            }

## Tipos de endereços [/tipos_enderecos]

### Listar [GET]

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

            {
                "code": 200,
                "status": "success",
                "meta": {
                    "total_registros": 3,
                    "total_da_pagina": 3,
                    "pagina_atual": 1,
                    "limite_por_pagina": 20,
                    "pagina_anterior": null,
                    "url_anterior": null,
                    "proxima_pagina": null,
                    "proxima_url": null
                },
                "data": [
                    {
                        "id": "68",
                        "nome": "Comercial"
                    },
                    {
                        "id": "69",
                        "nome": "Residencial"
                    },
                    {
                        "id": "70",
                        "nome": "Entrega"
                    }
                ]
            }

## Estados [/estados]

### Listar [GET]

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

            {
                "code": 200,
                "status": "success",
                "meta": {
                    "total_registros": 27,
                    "total_da_pagina": 20,
                    "pagina_atual": 1,
                    "limite_por_pagina": 20,
                    "pagina_anterior": null,
                    "url_anterior": null,
                    "proxima_pagina": 2,
                    "proxima_url": "/api/estados?pagina=2"
                },
                "data": [
                    {
                        "id": "1",
                        "codigo": "12",
                        "nome": "Acre",
                        "sigla": "AC"
                    },
                    {
                        "id": "2",
                        "codigo": "27",
                        "nome": "Alagoas",
                        "sigla": "AL"
                    },
                    {
                        "id": "4",
                        "codigo": "16",
                        "nome": "Amapá",
                        "sigla": "AP"
                    },
                    {
                        "id": "3",
                        "codigo": "13",
                        "nome": "Amazonas",
                        "sigla": "AM"
                    },
                    {
                        "id": "5",
                        "codigo": "29",
                        "nome": "Bahia",
                        "sigla": "BA"
                    },
                    {
                        "id": "6",
                        "codigo": "23",
                        "nome": "Ceará",
                        "sigla": "CE"
                    },
                    {
                        "id": "7",
                        "codigo": "53",
                        "nome": "Distrito Federal",
                        "sigla": "DF"
                    },
                    {
                        "id": "8",
                        "codigo": "32",
                        "nome": "Espírito Santo",
                        "sigla": "ES"
                    },
                    {
                        "id": "9",
                        "codigo": "52",
                        "nome": "Goiás",
                        "sigla": "GO"
                    },
                    {
                        "id": "10",
                        "codigo": "21",
                        "nome": "Maranhão",
                        "sigla": "MA"
                    },
                    {
                        "id": "13",
                        "codigo": "51",
                        "nome": "Mato Grosso",
                        "sigla": "MT"
                    },
                    {
                        "id": "12",
                        "codigo": "50",
                        "nome": "Mato Grosso Do Sul",
                        "sigla": "MS"
                    },
                    {
                        "id": "11",
                        "codigo": "31",
                        "nome": "Minas Gerais",
                        "sigla": "MG"
                    },
                    {
                        "id": "14",
                        "codigo": "15",
                        "nome": "Pará",
                        "sigla": "PA"
                    },
                    {
                        "id": "15",
                        "codigo": "25",
                        "nome": "Paraíba",
                        "sigla": "PB"
                    },
                    {
                        "id": "18",
                        "codigo": "41",
                        "nome": "Paraná",
                        "sigla": "PR"
                    },
                    {
                        "id": "16",
                        "codigo": "26",
                        "nome": "Pernambuco",
                        "sigla": "PE"
                    },
                    {
                        "id": "17",
                        "codigo": "22",
                        "nome": "Piauí",
                        "sigla": "PI"
                    },
                    {
                        "id": "19",
                        "codigo": "33",
                        "nome": "Rio De Janeiro",
                        "sigla": "RJ"
                    },
                    {
                        "id": "20",
                        "codigo": "24",
                        "nome": "Rio Grande Do Norte",
                        "sigla": "RN"
                    }
                ]
            }

## Cidades [/cidades]

### Listar [GET]

<strong>Filtros</strong>
+ estado_id (int)
<br>
<i>Para conhecer os ids dos <b>estados</b>, faça um GET em /api/estados/</i>

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

            {
                "code": 200,
                "status": "success",
                "meta": {
                    "total_registros": 79,
                    "total_da_pagina": 20,
                    "pagina_atual": 2,
                    "limite_por_pagina": 20,
                    "pagina_anterior": 1,
                    "url_anterior": "/api/cidades?estado=12&pagina=1",
                    "proxima_pagina": 3,
                    "proxima_url": "/api/cidades?estado=12&pagina=3"
                },
                "data": [
                    {
                        "id": "2219",
                        "codigo": "5002803",
                        "nome": "Caracol"
                    },
                    {
                        "id": "2220",
                        "codigo": "5002902",
                        "nome": "Cassilândia"
                    },
                    {
                        "id": "2221",
                        "codigo": "5002951",
                        "nome": "Chapadão do Sul"
                    },
                    {
                        "id": "2222",
                        "codigo": "5003108",
                        "nome": "Corguinho"
                    },
                    {
                        "id": "2223",
                        "codigo": "5003157",
                        "nome": "Coronel Sapucaia"
                    },
                    {
                        "id": "2224",
                        "codigo": "5003207",
                        "nome": "Corumbá"
                    },
                    {
                        "id": "2225",
                        "codigo": "5003256",
                        "nome": "Costa Rica"
                    },
                    {
                        "id": "2226",
                        "codigo": "5003306",
                        "nome": "Coxim"
                    },
                    {
                        "id": "2227",
                        "codigo": "5003454",
                        "nome": "Deodápolis"
                    },
                    {
                        "id": "2228",
                        "codigo": "5003488",
                        "nome": "Dois Irmãos do Buriti"
                    },
                    {
                        "id": "2229",
                        "codigo": "5003504",
                        "nome": "Douradina"
                    },
                    {
                        "id": "2230",
                        "codigo": "5003702",
                        "nome": "Dourados"
                    },
                    {
                        "id": "2231",
                        "codigo": "5003751",
                        "nome": "Eldorado"
                    },
                    {
                        "id": "2232",
                        "codigo": "5003801",
                        "nome": "Fátima do Sul"
                    },
                    {
                        "id": "2233",
                        "codigo": "5003900",
                        "nome": "Figueirão"
                    },
                    {
                        "id": "2234",
                        "codigo": "5004007",
                        "nome": "Glória de Dourados"
                    },
                    {
                        "id": "2235",
                        "codigo": "5004106",
                        "nome": "Guia Lopes da Laguna"
                    },
                    {
                        "id": "2236",
                        "codigo": "5004304",
                        "nome": "Iguatemi"
                    },
                    {
                        "id": "2237",
                        "codigo": "5004403",
                        "nome": "Inocência"
                    },
                    {
                        "id": "2238",
                        "codigo": "5004502",
                        "nome": "Itaporã"
                    }
                ]
            }

## Produtos [/produtos]

### Listar [GET]

<strong>Filtros</strong>
+ loja_id (int)
Para conhecer os ids das lojas, faça um GET em /api/lojas/
+ nome (string)
+ codigo (string)
+ grupo_id (int)
<br>
<i>Para conhecer os ids dos <b>grupos de produtos</b>, faça um GET em /api/grupos_produtos/</i>
+ fornecedor_id (int)
<br>
<i>Para conhecer os ids dos <b>fornecedores</b>, faça um GET em /api/fornecedores/</i>
+ ativo (1 = sim, 0 = não)

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

            {
                "code": 200,
                "status": "success",
                "meta": {
                    "total_registros": 2,
                    "total_paginas": 1,
                    "total_registros_pagina": 2,
                    "pagina_atual": 1,
                    "limite_por_pagina": 20,
                    "pagina_anterior": null,
                    "url_anterior": null,
                    "proxima_pagina": null,
                    "proxima_url": null
                },
                "data": [
                    {
                        "id": "320",
                        "nome": "Blusão Masc Moletom",
                        "codigo_interno": "0222",
                        "codigo_barra": "2031754031703",
                        "possui_variacao": "1",
                        "possui_composicao": "0",
                        "movimenta_estoque": "1",
                        "peso": "0.000",
                        "largura": "0.000",
                        "altura": "0.000",
                        "comprimento": "0.000",
                        "ativo": "1",
                        "grupo_id": "803218",
                        "nome_grupo": "Eletrônicos",
                        "descricao": "",
                        "estoque": 60,
                        "valor_custo": "80.0000",
                        "valor_venda": "120.0000",
                        "valores": [
                            {
                                "tipo_id": "90864",
                                "nome_tipo": "Varejo",
                                "lucro_utilizado": "15.00",
                                "valor_custo": "80.0000",
                                "valor_venda": "92.0000"
                            },
                            {
                                "tipo_id": "90872",
                                "nome_tipo": "Atacado",
                                "lucro_utilizado": "30.00",
                                "valor_custo": "80.0000",
                                "valor_venda": "104.0000"
                            }
                        ],
                        "variacoes": [
                            {
                                "variacao": {
                                    "id": "478",
                                    "nome": "Creme",
                                    "estoque": "10.00",
                                    "valores": [
                                        {
                                            "tipo_id": "90864",
                                            "nome_tipo": "Varejo",
                                            "lucro_utilizado": "41.18",
                                            "valor_custo": "85.0000",
                                            "valor_venda": "120.0000"
                                        },
                                        {
                                            "tipo_id": "90872",
                                            "nome_tipo": "Atacado",
                                            "lucro_utilizado": "41.18",
                                            "valor_custo": "85.0000",
                                            "valor_venda": "120.0000"
                                        }
                                    ]
                                }
                            },
                            {
                                "variacao": {
                                    "id": "480",
                                    "nome": "Marrom",
                                    "estoque": "20.00",
                                    "valores": [
                                        {
                                            "tipo_id": "90864",
                                            "nome_tipo": "Varejo",
                                            "lucro_utilizado": "15.00",
                                            "valor_custo": "80.0000",
                                            "valor_venda": "92.0000"
                                        },
                                        {
                                            "tipo_id": "90872",
                                            "nome_tipo": "Atacado",
                                            "lucro_utilizado": "30.00",
                                            "valor_custo": "80.0000",
                                            "valor_venda": "104.0000"
                                        }
                                    ]
                                }
                            },
                            {
                                "variacao": {
                                    "id": "482",
                                    "nome": "Azul Escuro",
                                    "estoque": "30.00",
                                    "valores": [
                                        {
                                            "tipo_id": "90864",
                                            "nome_tipo": "Varejo",
                                            "lucro_utilizado": "15.00",
                                            "valor_custo": "80.0000",
                                            "valor_venda": "92.0000"
                                        },
                                        {
                                            "tipo_id": "90872",
                                            "nome_tipo": "Atacado",
                                            "lucro_utilizado": "30.00",
                                            "valor_custo": "80.0000",
                                            "valor_venda": "104.0000"
                                        }
                                    ]
                                }
                            }
                        ],
                        "fiscal": {
                            "ncm": "",
                            "cest": "",
                            "peso_liquido": null,
                            "peso_bruto": null,
                            "valor_aproximado_tributos": null,
                            "valor_fixo_pis": null,
                            "valor_fixo_pis_st": null,
                            "valor_fixo_confins": null,
                            "valor_fixo_confins_st": null
                        }
                    },
                    {
                        "id": "319",
                        "nome": "Smart TV 4K LED 50",
                        "codigo_interno": "011111",
                        "codigo_barra": "2086871760609",
                        "possui_variacao": "0",
                        "possui_composicao": "0",
                        "movimenta_estoque": "1",
                        "peso": "0.000",
                        "largura": "0.000",
                        "altura": "0.000",
                        "comprimento": "0.000",
                        "ativo": "1",
                        "grupo_id": "803218",
                        "nome_grupo": "Eletrônicos",
                        "descricao": "",
                        "estoque": 10,
                        "valor_custo": "1500.2000",
                        "valor_venda": "1725.2300",
                        "valores": [
                            {
                                "tipo_id": "90864",
                                "nome_tipo": "Varejo",
                                "lucro_utilizado": "15.00",
                                "valor_custo": "1500.2000",
                                "valor_venda": "1725.2300"
                            },
                            {
                                "tipo_id": "90872",
                                "nome_tipo": "Atacado",
                                "lucro_utilizado": "30.00",
                                "valor_custo": "1500.2000",
                                "valor_venda": "1950.2600"
                            }
                        ],
                        "variacoes": [
                            {
                                "variacao": {
                                    "id": "476",
                                    "nome": "",
                                    "estoque": "10.00",
                                    "valores": [
                                        {
                                            "tipo_id": "90864",
                                            "nome_tipo": "Varejo",
                                            "lucro_utilizado": "15.00",
                                            "valor_custo": "1500.2000",
                                            "valor_venda": "1725.2300"
                                        },
                                        {
                                            "tipo_id": "90872",
                                            "nome_tipo": "Atacado",
                                            "lucro_utilizado": "30.00",
                                            "valor_custo": "1500.2000",
                                            "valor_venda": "1950.2600"
                                        }
                                    ]
                                }
                            }
                        ],
                        "fiscal": {
                            "ncm": "85044060",
                            "cest": "",
                            "peso_liquido": "20.000",
                            "peso_bruto": "20.000",
                            "valor_aproximado_tributos": null,
                            "valor_fixo_pis": null,
                            "valor_fixo_pis_st": null,
                            "valor_fixo_confins": null,
                            "valor_fixo_confins_st": null
                        }
                    }
                ]
            }

### Cadastrar [POST]

<strong>Campos obrigatórios</strong>
+ nome (string)
+ codigo_interno (string)
+ valor_custo (float)

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

    + Body

            {
                "nome": "Televisão Smart TV - LED 32",
                "codigo_interno": "32355564390",
                "codigo_barra": "98412200100",
                "largura": "80",
                "altura": "50",
                "comprimento": "8",
                "ativo": "1",
                "grupo_id": "803218",
                "nome_grupo": "Eletrônicos",
                "descricao": "Televisão Smart TV com wi-fi 32 Polegadas",
                "estoque": "10",
                "valor_custo": "700.62",
                "valor_venda": "850.99",
                "ncm": "11010010",
                "cest": "0100200",
                "peso_liquido": "1,000",
                "peso_bruto": "1,550",
                "valor_aproximado_tributos": "1,00",
                "valor_fixo_pis": "1,0000",
                "valor_fixo_pis_st": "3.00",
                "valor_fixo_confins": "4.00",
                "valor_fixo_confins_st": "6.00",
                "fornecedores": [
                    {
                        "fornecedor_id": "241"
                    },
                    {
                        "fornecedor_id": "169"
                    }
                ]
            }

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "43",
                    "nome": "Televisão Smart TV - LED 32",
                    "codigo_interno": "32355564390",
                    "codigo_barra": "98412200100",
                    "possui_variacao": "0",
                    "possui_composicao": "0",
                    "movimenta_estoque": "1",
                    "peso": null,
                    "largura": "80.000",
                    "altura": "50.000",
                    "comprimento": "8.000",
                    "ativo": "1",
                    "grupo_id": "803218",
                    "nome_grupo": "Eletrônicos",
                    "descricao": "Televisão Smart TV com wi-fi 32 Polegadas",
                    "estoque": 10,
                    "valor_custo": "700.62",
                    "valor_venda": "850.99",
                    "valores": [
                        {
                            "tipo_id": "90858",
                            "nome_tipo": "Atacado",
                            "lucro_utilizado": "21.46",
                            "valor_custo": "750.99"
                            "valor_venda": "850.99"
                        },
                        {
                            "tipo_id": "90856",
                            "nome_tipo": "Varejo",
                            "lucro_utilizado": "21.46",
                            "valor_custo": "750.99"
                            "valor_venda": "850.99"
                        },
                        {
                            "tipo_id": "90853",
                            "nome_tipo": "Loja virtual",
                            "lucro_utilizado": "21.46",
                            "valor_custo": "750.99"
                            "valor_venda": "850.99"
                        }
                    ],
                    "variacoes": [
                        {
                            "variacao": {
                                "id": "231",
                                "nome": "",
                                "estoque": "10.00",
                                "valores": [
                                    {
                                        "tipo_id": "90858",
                                        "nome_tipo": "Atacado",
                                        "lucro_utilizado": "21.46",
                                        "valor_custo": "750.99"
                                        "valor_venda": "850.99"
                                    },
                                    {
                                        "tipo_id": "90856",
                                        "nome_tipo": "Varejo",
                                        "lucro_utilizado": "21.46",
                                        "valor_custo": "750.99"
                                        "valor_venda": "850.99"
                                    },
                                    {
                                        "tipo_id": "90853",
                                        "nome_tipo": "Loja virtual",
                                        "lucro_utilizado": "21.46",
                                        "valor_custo": "750.99"
                                        "valor_venda": "850.99"
                                    }
                                ],
                            }
                        }
                    ],
                    "fiscal": {
                        "ncm": "11010010",
                        "cest": "0100200",
                        "peso_liquido": "1.000",
                        "peso_bruto": "1.000",
                        "valor_aproximado_tributos": "1.00",
                        "valor_fixo_pis": "1.00",
                        "valor_fixo_pis_st": "3.00",
                        "valor_fixo_confins": "4.00",
                        "valor_fixo_confins_st": "6.00"
                    }
                }
            }

### Visualizar [GET /produtos/{id}]

Lista os dados de um produto específico. Basta acrescentar o parametro com o id do produto.

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "320",
                    "nome": "Blusão Masc Moletom",
                    "codigo_interno": "0222",
                    "codigo_barra": "2031754031703",
                    "possui_variacao": "1",
                    "possui_composicao": "0",
                    "movimenta_estoque": "1",
                    "peso": "0.000",
                    "largura": "0.000",
                    "altura": "0.000",
                    "comprimento": "0.000",
                    "ativo": "1",
                    "grupo_id": "803218",
                    "nome_grupo": "Eletrônicos",
                    "descricao": "",
                    "estoque": 60,
                    "valor_custo": "80.0000",
                    "valor_venda": "120.0000",
                    "valores": [
                        {
                            "tipo_id": "90864",
                            "nome_tipo": "Varejo",
                            "lucro_utilizado": "15.00",
                            "valor_custo": "80.0000",
                            "valor_venda": "92.0000"
                        },
                        {
                            "tipo_id": "90872",
                            "nome_tipo": "Atacado",
                            "lucro_utilizado": "30.00",
                            "valor_custo": "80.0000",
                            "valor_venda": "104.0000"
                        }
                    ],
                    "variacoes": [
                        {
                            "variacao": {
                                "id": "478",
                                "nome": "Creme",
                                "estoque": "10.00",
                                "valores": [
                                    {
                                        "tipo_id": "90864",
                                        "nome_tipo": "Varejo",
                                        "lucro_utilizado": "41.18",
                                        "valor_custo": "85.0000",
                                        "valor_venda": "120.0000"
                                    },
                                    {
                                        "tipo_id": "90872",
                                        "nome_tipo": "Atacado",
                                        "lucro_utilizado": "41.18",
                                        "valor_custo": "85.0000",
                                        "valor_venda": "120.0000"
                                    }
                                ]
                            }
                        },
                        {
                            "variacao": {
                                "id": "480",
                                "nome": "Marrom",
                                "estoque": "20.00",
                                "valores": [
                                    {
                                        "tipo_id": "90864",
                                        "nome_tipo": "Varejo",
                                        "lucro_utilizado": "15.00",
                                        "valor_custo": "80.0000",
                                        "valor_venda": "92.0000"
                                    },
                                    {
                                        "tipo_id": "90872",
                                        "nome_tipo": "Atacado",
                                        "lucro_utilizado": "30.00",
                                        "valor_custo": "80.0000",
                                        "valor_venda": "104.0000"
                                    }
                                ]
                            }
                        },
                        {
                            "variacao": {
                                "id": "482",
                                "nome": "Azul Escuro",
                                "estoque": "30.00",
                                "valores": [
                                    {
                                        "tipo_id": "90864",
                                        "nome_tipo": "Varejo",
                                        "lucro_utilizado": "15.00",
                                        "valor_custo": "80.0000",
                                        "valor_venda": "92.0000"
                                    },
                                    {
                                        "tipo_id": "90872",
                                        "nome_tipo": "Atacado",
                                        "lucro_utilizado": "30.00",
                                        "valor_custo": "80.0000",
                                        "valor_venda": "104.0000"
                                    }
                                ]
                            }
                        }
                    ],
                    "fiscal": {
                        "ncm": "",
                        "cest": "",
                        "peso_liquido": null,
                        "peso_bruto": null,
                        "valor_aproximado_tributos": null,
                        "valor_fixo_pis": null,
                        "valor_fixo_pis_st": null,
                        "valor_fixo_confins": null,
                        "valor_fixo_confins_st": null
                    }
                }
            }

### Editar [PUT /produtos/{id}]

<strong>Campos obrigatórios</strong>
+ nome (string)
+ codigo_interno (string)
+ valor_custo (float)

<strong>Orientações</strong>
+ + Para definir os valores de venda por tipo, basta fornecer um array com os valores, incluindo os campos tipo_id e valor_venda. Se os dados de valores não forem informados, os valores de venda permanecerão inalterados.


+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

    + Body

            {
                "nome": "Televisão Smart TV - Plasma 52 P",
                "codigo_interno": "97845678",
                "codigo_barra": "8995874587451",
                "largura": "80",
                "altura": "50",
                "comprimento": "8",
                "ativo": "1",
                "grupo_id": "803218",
                "nome_grupo": "Eletrônicos",
                "descricao": "Televisão Smart TV Plasma com wi-fi 52 Polegadas",
                "estoque": "10",
                "valor_custo": 12.00,
                "valores": [
                    {
                        "tipo_id": "90937",
                        "valor_venda": 10.00
                    },
                    {
                        "tipo_id": "90938",
                        "valor_venda": 18.00
                    }
                ],
                "ncm": "11010010",
                "cest": "0100200",
                "peso_liquido": "1,000",
                "peso_bruto": "1,550",
                "valor_aproximado_tributos": 1.00,
                "valor_fixo_pis": "1,0000",
                "valor_fixo_pis_st": 3.00,
                "valor_fixo_confins": 4.00,
                "valor_fixo_confins_st": 6.00
            }

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "22",
                    "nome": "Televisão Smart TV - Plasma 52 P",
                    "codigo_interno": "97845678",
                    "codigo_barra": "8995874587451",
                    "possui_variacao": "0",
                    "possui_composicao": "0",
                    "movimenta_estoque": "1",
                    "peso": null,
                    "largura": "80.000",
                    "altura": "50.000",
                    "comprimento": "8.000",
                    "ativo": "1",
                    "grupo_id": "803218",
                    "nome_grupo": "Eletrônicos",
                    "descricao": "Televisão Smart TV Plasma com wi-fi 52 Polegadas",
                    "estoque": 10,
                    "valor_custo": "12.0000",
                    "valor_venda": "10.00",
                    "cadastrado_em": "2024-03-12 14:30:36",
                    "modificado_em": "2024-11-01 11:46:10",
                    "valores": [
                        {
                            "tipo_id": "90937",
                            "nome_tipo": "valor de venda novo",
                            "lucro_utilizado": "0",
                            "valor_custo": "12",
                            "valor_venda": "10.00"
                        },
                        {
                            "tipo_id": "90938",
                            "nome_tipo": "novo valor",
                            "lucro_utilizado": "0",
                            "valor_custo": "12",
                            "valor_venda": "18.00"
                        }
                    ],
                    "variacoes": [
                        {
                            "variacao": {
                                "id": "232",
                                "nome": "",
                                "estoque": "10.00"
                            }
                        }
                    ],
                    "fiscal": {
                        "ncm": "11010010",
                        "cest": "0100200",
                        "peso_liquido": "1.000",
                        "peso_bruto": "1.000",
                        "valor_aproximado_tributos": "1.00",
                        "valor_fixo_pis": "1.00",
                        "valor_fixo_pis_st": "3.00",
                        "valor_fixo_confins": "4.00",
                        "valor_fixo_confins_st": "6.00"
                    }
                }
            }

### Deletar [DELETE /produtos/{id}]

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

## Grupos de produtos [/grupos_produtos]

### Listar [GET]

Listagem dos grupos de produtos

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

            {
                "code": 200,
                "status": "success",
                "meta": {
                    "total_registros": 2,
                    "total_da_pagina": 2,
                    "pagina_atual": 1,
                    "limite_por_pagina": 20,
                    "pagina_anterior": null,
                    "url_anterior": null,
                    "proxima_pagina": null,
                    "proxima_url": null
                },
                "data": [
                    {
                        "id": "801358",
                        "nome": "Celulares"
                    },
                    {
                        "id": "801356",
                        "nome": "Eletrônicos"
                    }
                ]
            }

## Campos extras de produtos [/atributos_produtos]

### Listar [GET]
Lista campos extras de produtos e serviços

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

+ Response 200 (application/json)

        {
            "code": 200,
            "status": "success",
            "meta": {
                "total_registros": 2,
                "total_paginas": 1,
                "total_registros_pagina": 2,
                "pagina_atual": 1,
                "limite_por_pagina": 20,
                "pagina_anterior": null,
                "url_anterior": null,
                "proxima_pagina": null,
                "proxima_url": null
            },
            "data": [
                {
                    "id": "1",
                    "nome": "Registro",
                    "tipo": "numeros",
                    "modificado_em": "2025-01-21 00:58:11",
                    "cadastrado_em": "2025-01-21 00:58:11"
                },
                {
                    "id": "2",
                    "nome": "Documentos",
                    "tipo": "texto_simples",
                    "modificado_em": "2025-01-21 00:58:36",
                    "cadastrado_em": "2025-01-21 00:58:36"
                }
            ]
        }
        
### Cadastrar [POST /atributos_produtos]

<strong>Campos obrigatórios</strong>
+ nome (string)
+ tipo (string) Tipos permitidos: cpf, cnpj, check_list, data, numeros, texto_simples.
+ opcoes* (array) Obrigatório nos campos extras do tipo "check_list"
+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

    + Body

            {
                "nome": "Arquivos",
                "tipo": "check_list",
                "opcoes": [
                    {"nome":  "RG"},
                    {"nome":  "CNH"}
                ]
            }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "1",
                    "nome": "Arquivos",
                    "tipo": "check_list",
                    "cadastrado_em": "2025-04-14 17:47:04",
                    "modificado_em": "2025-04-14 17:47:04",
                    "opcoes": [
                        {
                            "id": "1",
                            "atributo_id": "5",
                            "nome": "RG"
                        },
                        {
                            "id": "2",
                            "atributo_id": "5",
                            "nome": "CNH"
                        }
                      ]
                }
            }
            
### Editar [PUT /atributos_produtos/{id}]

<strong>Campos obrigatórios</strong>
+ nome (string)
+ tipo (string) Tipos permitidos: cpf, cnpj, check_list, data, numeros, texto_simples.
+ opcoes* (array) Obrigatório nos campos extras do tipo "check_list"
+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

    + Body

            {
                "nome": "Documentos",
                "tipo": "check_list",
                "opcoes": [
                    {"nome":  "RG"},
                    {"nome":  "CNH"}
                ]
            }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 200,
                "status": "success",
                "data": {
                    "id": "1",
                    "nome": "Documentos",
                    "tipo": "check_list",
                    "cadastrado_em": "2025-04-15 17:47:04",
                    "modificado_em": "2025-04-15 17:47:04",
                    "opcoes": [
                        {
                            "id": "1",
                            "atributo_id": "5",
                            "nome": "RG"
                        },
                        {
                            "id": "2",
                            "atributo_id": "5",
                            "nome": "CNH"
                        }
                    ]
                }
            }

### Visualizar [GET /atributos_produtos/{id}]
Visualiza um campo extra específico. Basta acrescentar o parâmetro com o id do campo extra.

+ Request (application/json)

    + Headers

            access-token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            secret-access-token: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

[...]
